*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body{
  /* background-image: url(./img/cal.gif); */
  /* background-repeat: no-repeat;
  background-size: cover; */
  text-align: center;
}
.App{
  width: 500px;
   height: 570px;
  margin-top: 3%;
  padding-top: 2%;
  margin-left: 30%;
  font-size: 30px;
  border: none;
  border-radius: 30px;
  box-shadow: 1px 1px 10px 1px inset;
   background: rgb(34, 125, 245);

}
.formdata{
  display: block;
  border: none;
  line-height: 50px;
}
.newcard{
  background: rgb(226, 228, 235);
  /* box-shadow: 5px 5px 50px 5px; */
  /* width: 340px;
  height: 150px;
  margin-top: 10px;
  margin-left: 90px; */
  margin-top: 10px;
}
#cal{
  width: 180px;
  height: 50px;
  box-shadow: 1px 1px 10px 1px;
  /* background: rgb(171, 187, 84); */
  border: 3px solid ;
  color: black;
  border-radius: 10px;
}
#cal:hover{
  color: white  ;
  background-color: rgb(12, 105, 226);;
}